.edit-spot{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    width:400px;
}
.edit-spot1{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit-spot2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit-spot3{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#edit-spot-button{
  background-color: red;
  color:white;
}
